.debug,
.debug * {
  border: 1px dashed red;
  padding: 5px;
  margin: 5px;
}

.card-description {
  max-height: 200px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.img-card-container {
  aspect-ratio: calc(3 / 4);
}

.card img {
  object-position: center center;
  max-height: 300px;
}
